html {
    height: 100%;
    background: linear-gradient(to bottom, #483D8B, #4169E1, #87CEEB);
    overflow: hidden;
  }
  

body {
    background: linear-gradient(to right, #2a2ac2, #254cc0, #254cc0);
    margin: 0;
    padding: 0;
    height: 100vh;
   
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden ;
}


.navbar {
    background: transparent; 
    position: fixed; 
    top: 0; 
    z-index: 1; 
    width: 100%; 
    display: flex;
    justify-content: space-between; 
}

#navbarNav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#navbarNav.active {
    display: block;
}

.nav-link {
    color: rgba(255, 255, 255, 0.694);
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
    transition: color 0.3s ease;
}


.nav-link:hover {
    color: #fff;
}

.navbar-brand img {
    max-height: 140px;
    transform: scale(1.1);
}

.navbar-toggler-icon {
    background-color: #fff;
}



.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


  

.weather-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    z-index: 0;
    
}
#aboutcard{
    text-align: left;
    font-size: 20px;
    width: 600px;
    position:absolute;
    z-index: 2;
}
.aboutcard h2 {
    font-size: 24px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.aboutcard p {
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.7;
}

.card-content-container {
    max-height: 60vh;
    overflow-y: auto;
}




#weatherForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.weather-card-pre {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 100px;
    color: #fff;
}


.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cityInput {
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    flex: 1;
    margin-bottom: 10px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#aboveCityText {
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
    font-weight: 500;
}

#cityInput::placeholder {
    color: #aaa;
    font-style: italic;
    transition: color 0.3s ease, font-style 0.3s ease;
}


#cityInput:focus {
    
     color:rgb(67,94,204);
     color: rgb(59, 91, 216);
}
#cityInput{
    font-weight: 1000;
    color:rgb(59, 91, 216);
    padding: 12px;
    font-size: 18px;
    
}


#searchBtn,
#getLocationBtn {
    background-color: #4169E1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
#searchBtn:hover {
    background-color: #3548a3;
}

#weatherDetailsView {
    display: none;
    margin-top: 20px;
}


.small-info {
    font-size: 0.8em;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  .capitalize {
    text-transform: capitalize;
}

.left-side {
    float: left;
    text-align: left;
    width: 60%;
}


.right-side {
    float: right;
    width: 40%;
}


hr {
    clear: both;
    margin: 20px 0;
}


.weather-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto 20px;
    max-width: 80%;
}

.detail {
    width: 45%;
    text-align: left;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    
}

.value {
    opacity: 0.82;
}

.label {
    color: #fff;
    font-size: 19px ;
    font-weight: 450;
}

#humidityValue {
    margin-bottom: 50px;
    
}
#windSpeedValue{
    text-transform: lowercase;
}

#aqiValue {
    margin-bottom: 20px;
}



#backBtn {
    background: #4169E1;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}


#backBtn:hover {
    background-color: #3548a3;
    transform: scale(1.05);
}


#timeDayDate {
    font-size: 12px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
   
    #backBtn {
        top: 60px;
    }

   
    #timeDayDate {
        margin-top: 80px;
    }
}
@media (max-width: 392px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }
}
